<div class="main">
    <div class="left-side block">
        <h4>Left Side</h4>
        <h5>Another menu</h5>
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
            <li><a href="#">Link 5</a></li>
        </ul>
    </div>
    <div class="content block">
        <h3>Content</h3>
        <img src="assets/img/kitten.jpeg" alt="">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. It was popularised in the 1960s with the release of 
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
            software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="right-side block">
        <h4>Right Side</h4>
        <img src="assets/img/cat-1.jpeg" alt="">
        <img src="assets/img/cat-2.jpeg" alt="">
        <img src="assets/img/cat-3.png" alt="">
    </div>
</div>
